.header {
  padding: 1rem 2rem;
  background-color: var(--header-background-color);
}

.statistic {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.item {
  text-transform: uppercase;

  strong {
    color: var(--accent-text-color);
  }
}